{% load simple_forum_tags %}
{% load static %}
{% load i18n admin_static %}

<!DOCTYPE html>
<html>

<head>

    <title>{% block page_title %}Untitled Page{% endblock %} | Projet base</title>
    <meta name="robots" content="index, follow" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.autosize.min.js' %}"></script>
    <link rel="icon" href="{% static 'assets/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
    <style>
        form#Forum input:not([type="submit"]), form textarea, form#Forum select, #ForumLogin input:not([type="submit"]) {
          display: block;
          width: 100%;
        }
        .post-area h1, .post-area h2, .post-area h3, .post-area h4, .post-area h5, .post-area h6, .post-area p, .post-area img {
            max-width: 100%;
            padding: 0;
            margin: 12px 6px;
        }
    </style>
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
<div id="container">
    <div id="header">
         <div id="branding">
             <div id="branding">
                <h1 id="site-name">
                    <a href="/forums/">Forum de projet base</a>
                </h1>
            </div>
        </div>
        <div id="user-tools">
                Bienvenue {% if request.user.is_authenticated %}{{ request.user.username | title }}{% endif %},
                    <a href="/">Retourner sur le site</a>{% if request.user.is_authenticated %} /
                <a href="/password_change">Modifier le mot de passe</a> /
                <a href="/logout">Déconnexion</a>{% endif %}
        </div>
    </div>
    <div class="breadcrumbs">
        <a href="{% url 'topic-list' %}">Accueil</a>
        › <a href="{% url 'search' %}">Rechercher</a>
    </div>


    <div id="content">
        <h1>Foire aux questions</h1>
      <div id="content-main">

            <ul class="object-tools">
                <li>
                    {% if request.user.is_authenticated %}
                  <a href="{% url 'thread-create' %}" class="addlink">
                    Nouvelle discussion
                  </a>
                    {% else %}
                  <a href="{% url 'login' %}" class="">
                    Connectez-vous pour intervenir
                  </a>
                    {% endif %}
                </li>
            </ul>

        <div class="module filtered" id="changelist">
        <div id="toolbar">
            <form id="changelist-search" method="get" action="{% url 'search' %}">
                <div><!-- DIV needed for valid HTML -->
                    <label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"></label>
                    <input size="40" name="q" value="" id="searchbar" type="text">
                    <input value="Rechercher" type="submit">
                </div>
            </form>
        </div>


        {% if messages %}
            <h3>Messages:</h3>
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}


        {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <div id="footer"></div>
</div>

{% if user.is_staff == 1 %}

    <div id="admin" class="hidden" data-value="666"></div>
<script type="text/javascript">
    $(document).ready(function(){
        if ($('#admin').data('value') != "666"){
            return false;
        }
        document.addEventListener('keydown', function (e){
            if(e.ctrlKey && e.keyCode === 'T'.charCodeAt(0)) {
                e.preventDefault();
                window.location.pathname = '/tirage/add';
            }
        });document.addEventListener('keydown', function (e){
            if(e.ctrlKey && e.keyCode === 'B'.charCodeAt(0)) {
                e.preventDefault();
                window.location.pathname='/admin';
            }
        });
    });
</script>

{% else %}

    <div id="admin" class="hidden" data-value="000"></div>

{% endif %}
</body>

</html>