<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>L'auto-résultat</title>
    <style>
	html {
		background-color: #222;
		padding: 0;
		margin: 0;
	}
        body {
            width: 900px;
            height: 394px;
            padding: 0;
            margin: 0;
            font-size: 0;
            background: url(http://lauto-resultat.com/media/avatars/bg_mail.png) no-repeat;
        }
        div {
            padding: 100px 25px 25px;
		text-align: center;
        }
        p {
            color: #ddd;
            font-size: 18px;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <div>
		<p>

{% if notifications_installed %}
    {{ notification_form }}
{% endif %}
        </p>
	</div>
</body>
</html>



