{% extends 'simple_forums/base.html' %}

{% block page_title %}Connexion{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>Le pseudo ou le mot de passe entrés ne sont pas corrects.</p>
    {% endif %}

    {% if next %}
    {% endif %}

    <form  id="ForumLogin" method="post" action="{% url 'login' %}" style="padding-top: 50px; width: 40%; margin: 0 auto; text-align: left;">

        {% csrf_token %}
    
        <table style="width: 100%">
            <caption>Connexion</caption>
        <tr>
            <td>{{ form.username.label_tag }}</td>
        </tr>
        <tr>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
        </tr>
        <tr>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="hidden" name="next" value="{{ next }}" />

        <input type="submit" class="btn btn-submit" value="se connecter"/>

    </form>

{% endblock %}