{% extends 'simple_forums/base.html' %}

{% block page_title %}recherche{% endblock %}

{% block content %}

    {% if query %}
        <table style="width: 100%; margin-top: 35px;">
        <caption>Résultats pour: {{ query }}</caption>
        <tbody>
        {% for result in results %}
            <tr>
                <th style="overflow: hidden">
                    <h3><a href="{{ result.get_absolute_url }}">{{ result.get_title }}</a></h3>
                </th>
            </tr>
            <tr>
                <th style="overflow: hidden">
                    <p>{{ result.get_search_description }}</p>
                </th>
            </tr>
            <tr>
                <th><br /><br /></th>
            </tr>

        {% empty %}

            <tr><th>Il n'y a pas de résultats pour {{ query }}.</th></tr>

        {% endfor %}
        </tbody>
        </table>
    {% endif %}

{% endblock %}