{% extends 'simple_forums/base.html' %}

{% load simple_forum_tags %}

{% block page_title %}{{ thread.title }}{% endblock %}

{% block content %}
    <table style="width: 100%; margin-top: 50px">
        <caption>{{ thread.title }}</caption>
    </table>
	<time datetime="{{ thread.time_created | date:'Y-m-d' }}T{{ thread.time_created | date:'H:i:s' }}">Créé le {{ thread.time_created | date:'d M Y' }} à {{ thread.time_created | date:'H:i:s' }}</time>

	<hr />
    {% if request.user.is_authenticated %}
	<form id="follow-form" action="{% url 'follow-thread' thread.pk %}" method="post">

		{% csrf_token %}

		<input type="checkbox" id="check-follow" name="follow" checked="checked" style="display: none" /> <label style="display: none" >Suivre le fil</label><br />
		<input type="submit" class="btn btn-primary" value="Suivre le fil"/>
	</form>
    {% endif %}
	{% with thread.message_set.all as messages %}
		{% if messages %}
			{% for message in messages %}

				<div id="{{ message.get_anchor }}" class="post-area">

					<div class="post-heading">
						<h4 class="text-primary"><strong>Auteur: <em>{{ message.user }}</em></strong></h4>
						<p>{{ message.time_created }}</p>
					</div>

					<div class="post-content">
						{% render_markup message.body %}
					</div>

				</div>

				<hr />

			{% endfor %}
		{% else %}

			<p>Il n'y a pas de réponses à cette discussion.</p>

		{% endif %}
	{% endwith %}

	{% if request.user.is_authenticated %}

		<h3>Répondre</h3>

		<form action="" method="post">

			{% csrf_token %}

			{{ reply_form.as_p }}

			<input type="submit" class="btn btn-primary" value="Envoyer ma réponse" />
		</form>
        <script type="text/javascript">
            $(document).ready(function(){
                $('label[for="id_body').hide();
                $('#id_body').addClass('auto');
                $('.auto').autosize();
            });
        </script>

	{% else %}

		<p>Vous devez <a href="{% login_url %}">vous connecter</a> pour répondre.</p>

	{% endif %}

{% endblock %}