{% extends 'simple_forums/base.html' %}

{% block page_title %}{{ topic.title }}{% endblock %}

{% block content %}

	{% if thread_list or sticky_thread_list %}


		<div class="sorting" style="margin-top: 50px;">
			<table style="width: 100%;">
                <caption>Trier par : </caption>
            </table>
            <tbody>
            {% for option in sort_options %}
                <tr><td><a style="display: block; margin: 10px 0" href="{{ request.url }}?sort={{ option }}{% if sort_current == option and not sort_reversed %}&rev=true{% endif %}">{% if sort_current == option %}<i class="fa {% if sort_reversed %}fa-caret-down{% else %}fa-caret-up{% endif %}"></i> {% endif %}{{ option|title }}</a></td></tr>
            {% endfor %}
            </tbody>
		</div>
		<table style="width: 100%; margin-top: 50px;">
        <caption>
            Les discussions
        </caption>
			<thead>
				<tr>
					<th colspan="8">Titre</th>
					<th colspan="2">Réponses</th>
					<th colspan="2">Dernière activité</th>
				</tr>
			</thead>
			<tbody>
				{% for thread in sticky_thread_list %}
					{% include 'simple_forums/snippets/render_thread_listing.html' %}
				{% endfor %}
				{% for thread in thread_list %}
					{% include 'simple_forums/snippets/render_thread_listing.html' %}
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Pas de sujets pour le moment.</p>
	{% endif %}


<script type="text/javascript">
    $(document).ready(function(){
        $('a[href="?sort=activity"]').html('Date des réactions')
        $('a[href="?sort=activity&rev=true"]').html('Date des réactions')
        $('a[href="?sort=title"]').html('Titre de la discussion')
        $('a[href="?sort=title&rev=true"]').html('Titre de la discussion')
    });
</script>

{% endblock %}