{% extends 'simple_forums/base.html' %}

{% block page_title %}Créer nouvelle discussion{% endblock %}

{% block content %}

    <h1 style="margin-top: 50px;">Nouvelle discussion</h1>

    <form action="" method="post" id="Forum">

        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" class="btn btn-primary" value="Créer la discussion"/>

    </form>
    <script>
        $(document).ready(function(){
            $('label[for="id_topic"]').html('Catégorie : ');
            $('label[for="id_title"]').html('Titre : ');
            $('label[for="id_body"]').html('Description : ');
            $('textarea#id_body').addClass('auto');
            $('.auto').autosize();
        });
    </script>

{% endblock %}