{% extends 'simple_forums/base.html' %}

{% block page_title %}Foire aux questions{% endblock %}

{% block content %}
        <table style="width: 100%; margin-top: 50px;">
        <caption>Catégories de discussions</caption>
        <tbody>
    {% for topic in topic_list %}
            <tr>
                <th style="overflow: hidden">
                    <h3><a href="{% url 'thread-list' topic.pk topic.slug %}">{{ topic.title }}</a></h3>
                </th>
            </tr>
            <tr>
                <th style="overflow: hidden">
                    <p>{{ topic.description }}</p>
                </th>
            </tr>
            <tr>
                <th><br /><br /></th>
            </tr>

    {% empty %}

        <tr><th>Il n'y a pas de catégories de sujets.</th></tr>

    {% endfor %}
        </tbody>
        </table>

{% endblock %}