<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ main.nom|title }} | Maintenance</title>
    {% load static %}
    <style>
        body {
            margin: 0;
            padding: 0;
            font-size: 0;
            background: #000 url({% static 'assets/maintenance.jpg' %}) no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
    <h1>Le site {{ main.nom|title }} est en maintenance actuellement, afin de vous offrir un service plus performant encore, merci de votre compréhension</h1>
</body>
</html>