{% extends "admin/base.html" %}

{% block title %}{{ title }} | Projet base {% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Administration de projet base</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}