{% extends 'layout.html' %}

{% block content %}
    <form method="post" action="{% url "loginx" %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            connexion
        </button>
        <a class="btn-primary inline-block" href="{% url "password_reset" %}">mot de passe oublié</a>
    </form>
{% endblock %}



