{% extends 'layout.html' %}{% block content %}    <form action="{% url "register" %}" method="post">        {% csrf_token %}        {{ form.as_p }}        <button type="submit">            inscription        </button>    </form>{% endblock %}